.root {
	-fx-background-color: #9b9595;
	-fx-border-radius: 10;
	-fx-border-color: white;
	-fx-background-radius: 10;
}
.label {
	-fx-font-size: 14;
	-fx-font-family: "Bodoni MT";
}
.text-area {
	-fx-border-color: white;
	-fx-font-family: "Bodoni MT";
	-fx-font-size: 15;
	
}
.button {
	-fx-opacity: .9;
	-fx-background-color: #f5575a;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
.menu-bar {
	-fx-background-color: #ffffff;
}
#hBox {
	-fx-background-radius: 10 10 0 0;
	-fx-border-radius: 10 10 0 0;
}
.button:hover {
	-fx-background-color: #FF8E91;
}
.separator {
	-fx-background-color: white;
	-fx-background-radius: 15 15 15 15;
	-fx-border-radius: 15 15 15 15;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: white;
}
#normalLabel {
	-fx-text-fill: white;
}
.tool-bar {
	-fx-background-color: #ffc1c1;
}
