.root {
	-fx-background-color:  #3C3F41;
	-fx-border-radius: 10;
	-fx-border-color: white;
	-fx-background-radius: 10;
}
.label {
	-fx-font-size: 14;
	-fx-font-family: "Bodoni MT";
}
.button {
	-fx-background-color: #F5696C;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
.menu-bar {
	-fx-background-color: white;
	-fx-border-radius: 10 0 0 0;
	-fx-background-radius: 10 0 0 0;
}
#hBox {
	-fx-background-radius: 10 10 0 0;
	-fx-border-radius: 10 10 0 0;
}
.button:hover {
	-fx-background-color: #FF8E91;
}
.menu-bar:hover {
	-fx-background-color: white;
}
.separator {
	-fx-background-color: white;
	-fx-background-radius: 15 15 15 15;
	-fx-border-radius: 15 15 15 15;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: white;
}
#exitMenu {
	-fx-background-color: #F5696C;
	-fx-background-radius: 0 10 0 0;
	-fx-border-radius: 0 10 0 0;
}
#normalLabel {
	-fx-text-fill: white;
}